@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: #fff;
    --cor2: #a3a3a3;
    --cor3: #334155;
    --cor4: #001020;
    --cor5: #0f172a;
    --cor6: #6528f7;
    --cor7: #10002b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--cor1);
    background: var(--cor4);
}

#portfolio {
    max-width: 768px;
    margin: 4rem auto;
    padding: 2.2rem;
    background: var(--cor7);
    box-shadow: 0 0 6px 1px #00000045;
    border-radius: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}


.photo {
    background: var(--cor5);
    border: 1px solid var(--cor4);
    border-radius: 50%;
}

.name {
    margin: 0.8rem 0;
}

.section-title {
    display: inline-block;
    font-weight: 400;
    background: var(--cor6);
    border-radius: 8px;
    padding: 0.6rem 0.8rem;
    margin-bottom: 0.3rem;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.contactBox {
    margin-top: 1rem;
    list-style: none;
}

hr {
    display: inline-block;
    width: 90%;
    height: 2px;
    background: var(--cor3);
    border-color: var(--cor3);
    border-width: 3px;
}

.contentBox {
    text-align: left;
    align-items: flex-start;
    margin: 1.2rem 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.contentBox h4 {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.contentBox>div:first-child {
    border-right: 3px solid var(--cor3);
    padding-right: 1rem;
}

.contentBox>div.about span {
    color: var(--cor2);
    font-size: 0.9rem;
    font-weight: 300;
}

.contentBox>div>div {
    margin-bottom: 1rem;
}

.contentBox h5 {
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

span.list {
    display: block;
}

span.list::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: var(--cor6);
    border-radius: 3px;
    margin-right: 0.3rem;
}

span.highlighted {
    display: inline-block;
    background: var(--cor3);
    border-radius: 8px;
    padding: 0.4rem 0.6rem;
    margin: 0.3rem 0;
}

.project-content {
    display: flex;
    margin-top: 1rem;
    text-align: justify;
    gap: 1rem;
}

.project-content:nth-child(odd) {
    flex-direction: row-reverse;
}

.project-content>img {
    align-self: center;
    border-radius: 0.5rem;
    max-width: 50%;
    height: auto;
}

.project-content h2 {
    margin-bottom: 1rem;
}

.project-content h3 {
    margin: 0.5rem 0;
}

/*media Queries */

@media (max-width: 800px) {
    #portfolio {

        margin: auto;
        border-radius: 0;
    }
}

@media (max-width: 600px) {

    .contactBox {
        flex-direction: column;
        align-items: flex-start;
    }

    .contentBox {
        grid-template-columns: 1fr;
    }

    .contentBox>div:first-child {
        border: none;
    }
}